# Komponist - Generate Your Favourite Compose Stack With the Least Effort
#
# Copyright (C) 2023  Shantanoo "Shan" Desai <sdes.softdev@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published
#   by the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <https://www.gnu.org/licenses/>.

{{ ansible_managed | comment }}

{# komponist.env.j2: Jinja2 Template for generating the .env file for Docker Compose Deployment #}

{% if 'grafana' in komponist.configuration.keys() %}
# Grafana Admin Credentials
GRAFANA_ADMIN_USERNAME={{ credentials.grafana.admin_username }}
GRAFANA_ADMIN_PASSWORD={{ credentials.grafana.admin_password }}
{% endif %}

{% if 'influxdbv2' in komponist.configuration.keys() %}
# InfluxDBv2 Admin Credentials
INFLUXDBV2_ADMIN_USERNAME={{ credentials.influxdbv2.admin_username }}
INFLUXDBV2_ADMIN_PASSWORD={{ credentials.influxdbv2.admin_password }}
INFLUXDBV2_ADMIN_TOKEN={{ credentials.influxdbv2.admin_token }}
DOCKER_INFLUXDB_INIT_ORG={{ credentials.influxdbv2.init_org_name }}
DOCKER_INFLUXDB_INIT_BUCKET={{ credentials.influxdbv2.init_bucket }}
DOCKER_INFLUXDB_INIT_RETENTION={{ credentials.influxdbv2.init_bucket_retention }}
{% endif %}

{% if 'timescaledb' in komponist.configuration.keys() %}
# TimescaleDB Admin Credentials
TIMESCALEDB_ADMIN_USERNAME={{ credentials.timescaledb.admin_username }}
TIMESCALEDB_ADMIN_PASSWORD={{ credentials.timescaledb.admin_password }}
TIMESCALEDB_DATABASE={{ credentials.timescaledb.database }}
{% endif %}

{% if 'influxdbv1' in komponist.configuration.keys() %}
# InfluxDBv1 Credentials
INFLUXDB_DB={{ credentials.influxdbv1.init_database }}

INFLUXDB_ADMIN_USER={{ credentials.influxdbv1.admin_username }}
INFLUXDB_ADMIN_PASSWORD={{ credentials.influxdbv1.admin_password }}

INFLUXDB_USER={{ credentials.influxdbv1.readwrite_user_username }}
INFLUXDB_USER_PASSWORD={{ credentials.influxdbv1.readwrite_user_password }}

INFLUXDB_READ_USER={{ credentials.influxdbv1.readonly_user_username }}
INFLUXDB_READ_USER_PASSWORD={{ credentials.influxdbv1.readonly_user_password }}

INFLUXDB_WRITE_USER={{ credentials.influxdbv1.writeonly_user_username }}
INFLUXDB_WRITE_USER_PASSWORD={{ credentials.influxdbv1.writeonly_user_password }}
{% endif %}

{% if 'telegraf' in komponist.configuration.keys() %}
# Telegraf related Credentials
{% if 'mosquitto' in credentials.telegraf.plugins.input.keys() %}
{%- for creds in credentials.mosquitto.users %}
    {%- if creds.username == credentials.telegraf.plugins.input.mosquitto.use_creds %}
TELEGRAF_MQTT_USERNAME={{ creds.username }}
TELEGRAF_MQTT_PASSWORD={{ creds.password }}
    {%- endif %}
  {%- endfor %}

{%- endif %}
{%- endif %}