# Komponist - Generate Your Favourite Compose Stack With the Least Effort
#
# Copyright (C) 2023  Shantanoo "Shan" Desai <sdes.softdev@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published
#   by the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <https://www.gnu.org/licenses/>.

{{ ansible_managed | comment }}

{# komponist.env.j2: Jinja2 Template for generating the .env file for Docker Compose Deployment #}

{% if 'grafana' in komponist.configuration.keys() %}
# Grafana Admin Credentials
GRAFANA_ADMIN_USERNAME={{ credentials.grafana.admin_username }}
GRAFANA_ADMIN_PASSWORD={{ credentials.grafana.admin_password }}
{% endif %}

{% if 'influxdbv2' in komponist.configuration.keys() %}
# InfluxDBv2 Admin Credentials
INFLUXDBV2_ADMIN_USERNAME={{ credentials.influxdbv2.admin_username }}
INFLUXDBV2_ADMIN_PASSWORD={{ credentials.influxdbv2.admin_password }}
INFLUXDBV2_ADMIN_TOKEN={{ credentials.influxdbv2.admin_token }}
{% endif %}