# InfluxDBv2
DOCKER_INFLUXDB_INIT_ORG={{ credentials.influxdbv2.init_org_name }}
DOCKER_INFLUXDB_INIT_BUCKET={{ credentials.influxdbv2.init_bucket }}
DOCKER_INFLUXDB_INIT_RETENTION={{ credentials.influxdbv2.init_bucket_retention }}

DOCKER_INFLUXDB_INIT_USERNAME={{ credentials.influxdbv2.admin_username }}
DOCKER_INFLUXDB_INIT_PASSWORD={{ credentials.influxdbv2.admin_password }}
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN={{ credentials.influxdbv2.admin_token }}