# InfluxDBv1
INFLUXDB_DB={{ credentials.influxdbv1.init_database }}

INFLUXDB_ADMIN_USER={{ credentials.influxdbv1.admin_username }}
INFLUXDB_ADMIN_PASSWORD={{ credentials.influxdbv1.admin_password }}

INFLUXDB_USER={{ credentials.influxdbv1.readwrite_user_username }}
INFLUXDB_USER_PASSWORD={{ credentials.influxdbv1.readwrite_user_password }}

INFLUXDB_READ_USER={{ credentials.influxdbv1.readonly_user_username }}
INFLUXDB_READ_USER_PASSWORD={{ credentials.influxdbv1.readonly_user_password }}

INFLUXDB_WRITE_USER={{ credentials.influxdbv1.writeonly_user_username }}
INFLUXDB_WRITE_USER_PASSWORD={{ credentials.influxdbv1.writeonly_user_password }}
