{#- Komponist - Generate Your Favourite Compose Stack With the Least Effort
#
# Copyright (C) 2023  Shantanoo "Shan" Desai <sdes.softdev@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published
#   by the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <https://www.gnu.org/licenses/>.-#}


{#- datasources.yml.j2: Jinja2 Template for Grafana Datasources YAML file -#}

apiVersion: 1

deleteDataSources:

datasources:
{% if 'influxdbv1' in komponist.configuration.keys() %}
  - name: Komponist-InfluxDBv1
    type: influxdb
    access: proxy
    database: {{ credentials.influxdbv1.init_database }}
    user: {{ credentials.influxdbv1.readwrite_user_username }}
    url: http://komponist_influxdbv1:8086
    jsonData:
      httpMode: GET
    secureJsonData:
      password: {{ credentials.influxdbv1.readwrite_user_password }}
    editable: true
{% endif %}

{% if 'influxdbv2' in komponist.configuration.keys() %}
  - name: Komponist-InfluxDBv2
    type: influxdb
    access: proxy
    url: http://komponist_influxdbv2:8087
    jsonData:
      version: Flux
      organization: {{ credentials.influxdbv2.init_org_name }}
      defaultBucket: {{ credentials.influxdbv2.init_bucket }}
      tlsSkipVerify: true
    secureJsonData:
      token: {{ credentials.influxdbv2.admin_token }}
    editable: true
{% endif %}