# Komponist - Generate Your Favourite Compose Stack With the Least Effort
#
# Copyright (C) 2023  Shantanoo "Shan" Desai <sdes.softdev@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published
#   by the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <https://www.gnu.org/licenses/>.

{{ ansible_managed | comment }}

{# docker-compose.traefik.yml.j2: Jinja2 Template for Traefik Compose Service #}

services:
  traefik:
{# Check whether the Image should be pulled from a Public Registry or Internal Registry #}
{% if 'image' in komponist.configuration.traefik %}
    image: {{ komponist.configuration.traefik.image }}:{{ komponist.configuration.traefik.version }}
{% else %}
    image: docker.io/traefik:{{ komponist.configuration.traefik.version | default('latest') }}
{% endif %}
    container_name: komponist_traefik
    configs:
      - traefik_conf.yml
    ports:
      - "80:80"
      - "1883:1883"
    entrypoint: traefik --configFile /traefik_conf.yml
    labels:
      - "traefik.enable=true"
    security_opt:
      - "no-new-privileges:true"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./traefik/configurations:/etc/traefik/configurations

configs:
  traefik_conf.yml:
    file: ./traefik/traefik.yml