# Komponist - Generate Your Favourite Compose Stack With the Least Effort
#
# Copyright (C) 2023  Shantanoo "Shan" Desai <sdes.softdev@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published
#   by the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <https://www.gnu.org/licenses/>.

{{ ansible_managed | comment }}

{# inputs.mqtt_consumer.toml.j2: Jinja2 Template for Telegraf's MQTT Input Plugin #}
[[inputs.mqtt_consumer]]

servers = [ "tcp://komponist_mosquitto:1883" ]

topics = [
    {% if credentials.telegraf.plugins.input.mosquitto.sub_topics | length %}
    {% for topic in credentials.telegraf.plugins.input.mosquitto.sub_topics %}
    "{{ topic }}",
    {% endfor %}
    {% endif -%}
]

connection_timeout = "30s"

username = "@{komponist_secretstore:mqtt_username}"
password = "@{komponist_secretstore:mqtt_password}"

data_format = "influx"
