{#- Komponist - Generate Your Favourite Compose Stack With the Least Effort
#
# Copyright (C) 2023  Shantanoo "Shan" Desai <sdes.softdev@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published
#   by the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <https://www.gnu.org/licenses/>.#}
{#- dynamic.yml.j2: Jinja2 Template for Traefik Reverse Proxy Dynamic Configuration -#}
http:
  # Routers
  routers:
{% filter indent(width=4) %}
    # Node-RED Router
{% include 'routers-http/nodered-router.j2' %}
{% if komponist.configuration.influxdbv1.expose_http | default(false) %}
    # InfluxDBv1 Router
{% include 'routers-http/influxdbv1-router.j2' %}
{% endif %}
{% endfilter %}

  # Middlewares
  middlewares:
{% filter indent(width=4) %}
    # InfluxDBv1 Middleware
{% include 'middlewares-http/influxdbv1-mw.j2' %}
{% endfilter +%}

  # Services
  services:
{% filter indent(width=4) %}
    # Node-RED Service
{% include 'services-http/nodered-svc.j2'  %}
    # InfluxDBv1 Service
{% include 'services-http/influxdbv1-svc.j2' %}
{% endfilter %}

# TCP Routers, Middlewares, Services
{% if 'mosquitto' in komponist.configuration.keys() %}
tcp:
  routers:
{% filter indent(width=4) %}
    # Mosquitto Router
{% include 'routers-tcp/mosquitto-router.j2' %}
{% endfilter %}

  services:
{% filter indent(width=4) %}
    # Mosquitto Service
{% include 'services-tcp/mosquitto-svc.j2' %}
{% endfilter %}
{% endif %}